name: Test pull request
permissions:
  contents: read

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --configuration Release --no-build /p:CollectCoverage=true /p:CoverletOutput=${{ github.workspace }}/CoverageResults/coverage /p:MergeWith=${{ github.workspace }}/CoverageResults/coverage.json /p:CoverletOutputFormat=\"json,lcov\"
    - name: Publish coverage report to coveralls.io   
      uses: coverallsapp/github-action@master
      continue-on-error: true
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }} 
        path-to-lcov: CoverageResults/coverage.info 
